$videoDesktopWidth: 1280;
$videoDesktopHeight: 720;
$coverDesktopHeight: 75vh;
$videoMobileWidth: 520;
$videoMobileHeight: 800;

.home {
  .cover {
    position: relative;

    #video-wrapper {
      position: relative;
      height: calc((100vw / #{$videoMobileWidth}) * #{$videoMobileHeight});
      overflow: hidden;

      #video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: calc((100vw / #{$videoMobileWidth}) * #{$videoMobileHeight});
        width: 100%;
        height: auto;
      }
    }

    .mask {
      position: absolute;
      bottom: 0;
      width: 100vw;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Small devices (sm)
@media (min-width: 576px) {
}

// Medium devices (md)
@media (min-width: 768px) {
}

// Large devices (lg)
@media (min-width: 992px) {
  .home {
    .cover {
      #video-wrapper {
        position: relative;
        height: $coverDesktopHeight;
        overflow: hidden;

        #video {
          position: absolute;
          top: calc((((100vw / #{$videoDesktopWidth}) * #{$videoDesktopHeight}) - #{$coverDesktopHeight}) / 2 * -1);
          left: 0;
          min-width: 100%;
          min-height: calc((100vw / #{$videoDesktopWidth}) * #{$videoDesktopHeight});
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

// Extra large devices (xl)
@media (min-width: 1200px) {
}
