.home {
  .slogan {
    position: relative;
    background-image: url("../img/soja.jpg");
    background-size: cover;
    background-position: center;

    .inner {
      padding: 80px 0;
    }

    .container {
      h1 {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 800;
        text-shadow: 0 8px 14px rgba(0,0,0,0.8);
      }
    }
  }
}

// Small devices (sm)
@media (min-width: 576px) {
}

// Medium devices (md)
@media (min-width: 768px) {
}

// Large devices (lg)
@media (min-width: 992px) {
  .home {
    .slogan {
      background-position: left center;

      .inner {
        padding: 9vw 0;
        background-image: url("../img/boi.png");
        background-size: auto 80%;
        background-repeat: no-repeat;
        background-position: left bottom;
      }

      .container {
        h1 {
          font-size: 46px;
        }
      }
    }
  }
}

// Extra large devices (xl)
@media (min-width: 1200px) {
}
