.page {
  #the-title.with-cover {
    h1 {
      color: white;
    }

    .excerpt {
      p {
        color: white;
      }
    }

    .gradient {
      display: block;
    }
  }

  #the-title {
    position: relative;
    background-position: center;
    background-size: cover;

    .gradient {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.15);
      z-index: 0;
    }

    .mask {
      position: relative;
    }

    .container {
      position: relative;
      padding-top: 70px;
      padding-bottom: 60px;
    }

    .wrap {
      width: 90%;
      margin: 0 auto;
    }

    h1 {
      display: inline-block;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 33px;
      color: var(--color-orange-dark);
      text-align: center;
    }

    .excerpt {
      padding-top: 20px;

      p {
        text-align: center;
        color: var(--color-primary);
        font-size: 15px;
        font-weight: 500;
      }
    }

    .line-brush {
      padding-top: 3px;
      width: 90%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  #the-content {
    min-height: 200px;
  }

  #frase {
    padding: 80px 0;

    h2 {
      font-weight: 700;
      font-size: 21px;
      line-height: 30px;
      text-transform: uppercase;
      color: var(--color-primary);
      text-align: center;
    }
  }
}

// Small devices (sm)
@media (min-width: 576px) {
}

// Medium devices (md)
@media (min-width: 768px) {
}

// Large devices (lg)
@media (min-width: 992px) {
  .page {
    #the-title {
      .gradient {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
      }

      .container {
        padding-top: 80px;
        padding-bottom: 60px;
      }

      .wrap {
        width: 70%;
        margin: unset;
      }

      h1 {
        font-size: 43px;
        line-height: 52px;
        text-align: unset;
      }
      .excerpt p {
        text-align: unset;
      }

      .line-brush {
        width: 80%;
      }
    }

    #frase {
      padding: 150px 0;

      h2 {
        font-size: 27px;
        line-height: 37px;
      }
    }
  }
}

// Extra large devices (xl)
@media (min-width: 1200px) {
  .page {
    #the-title {
      .wrap {
        width: 50%;
      }
    }

    #frase {
      padding: 180px 0;
    }
  }
}
